# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

.DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/.vscode/
/.idea
/vendor/pkg/
/coverage_unit.html
/coverage_itest.html
/vendor/bin/
.env.local

# Local dev scripts
_cmd/
*.env
.envrc
**/.direnv/**
/postgres_data/

# Internal project files
config/*